@using ControleDeContatos.Enums
@model UsuarioModel

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="text-center">

    <h1 class="display-4">Alterar Usuário</h1>

</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário" id="name">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label" aria-describedby="emailHelp">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário" id="email" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="perfil" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
            <option value="@PerfilEnum.Cadastro">Cadastro</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>

    <button type="submit" class="btn btn-primary col-lg-1 text-white">Salvar</button>
    <a class="btn btn-secondary col-lg-1 text-white" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>

</form>