@model List<ContatoModel>

@{
    ViewData["Title"] = "Listagem de Contatos";
}

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

    
<h1 class="display-4 text-center">Listagem de Contatos</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-5">
    <a class="btn btn-success text-white rounded-bottom" role="button" asp-controller="Contato" asp-action="Criar">Cadastrar Contato</a>
</div>
 
<table class="table mt-5" id="table-contatos">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Celular</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>      
        @if(Model != null && Model.Any())
        {
            foreach (ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Nome</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-dark text-white" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger text-white" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ExcluirConfirmacao">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>